<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create account - Ethene Hosting</title>
    <script defer src="/js/signup.js"></script>
    <script src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" type="module"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<section>
    <form id="signupForm">
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input id="firstname" name="firstname" required type="text">
            <label for="firstname">First Name</label>
        </div>
        <div class="inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input id="lastname" name="lastname" required type="text">
            <label for="lastname">Last Name</label>
        </div>
        <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input id="email" name="email" required type="email">
            <label for="email">Email</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input id="password" name="password" required type="password">
            <label for="password">Password</label>
        </div>
        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input id="passwordcon" name="passwordcon" required type="password">
            <label for="passwordcon">Confirm Password</label>
        </div>
        <p id="errorMessage" style="color: red; display: none;"></p>
        <button id="submit" type="submit">Sign Up</button>
        <div class="register">
            <p>Already have an account? <a href="#">Log In</a></p>
        </div>
    </form>
</section>
</body>
</html>
